---yml
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
numberOfProjectsToShow: 8
---
<h1>Recordings</h1>
<ol reversed>
{%- for recording in collections.recording | reverse -%}
  <li>
    <h2><a href="{{ recording.url }}">{{ recording.data.filename or 'No date' }}</a> - {{recording.data.detections | length }}</h2>
  </li>
{%- endfor -%}
</ol>
 